---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-streaming
  namespace: big-data-pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-streaming
  template:
    metadata:
      labels:
        app: spark-streaming
    spec:
      containers:
        - name: spark-streaming
          image: asia-northeast1-docker.pkg.dev/robust-magpie-479807-f1/my-repo/spark-streaming:latest
          imagePullPolicy: Always
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: "my-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092"
            - name: KAFKA_TOPIC
              value: "data-stream"
            - name: ELASTICSEARCH_NODES
              value: "elasticsearch"
            - name: ELASTICSEARCH_INDEX
              value: "events"
            - name: ELASTICSEARCH_AGG_INDEX
              value: "events-aggregated"
            - name: CASSANDRA_HOST
              value: "cassandra-0.cassandra.big-data-pipeline.svc.cluster.local"
            - name: CASSANDRA_PORT
              value: "9042"
            - name: CASSANDRA_KEYSPACE
              value: "bigdata_pipeline"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
