---
apiVersion: v1
kind: Service
metadata:
  name: streamlit
  namespace: big-data-pipeline
spec:
  type: NodePort
  ports:
    - port: 8501
      targetPort: 8501
      nodePort: 30851
      name: http
  selector:
    app: streamlit
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: streamlit
  namespace: big-data-pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: streamlit
  template:
    metadata:
      labels:
        app: streamlit
    spec:
      containers:
        - name: streamlit
          image: streamlit-dashboard:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8501
              name: http
          env:
            - name: ELASTICSEARCH_HOST
              value: "elasticsearch"
            - name: ELASTICSEARCH_PORT
              value: "9200"
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
